body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUTExIVFhUVFxcVFRcXFRUXFxUXFRUWFxUXFxUYHSggGBolHRUXITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OFxAQFSsmICUrLS0tLS0tKysrLS0rLS0tLS0tLS0tLS8tLS0tLTYtLS0rLS0tLS0tLSstLS0tLS0rLf/AABEIANEA8QMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAAAAgMEBQYBB//EAEAQAAIBAgMFBAgEAwcFAQAAAAABAgMRBCHwBRIxQVFhcYGRBhMiMkKhwdFSseHxFHKSByMzNFNishZjgqLCFf/EABkBAQADAQEAAAAAAAAAAAAAAAABAgMEBf/EACQRAQEAAgEDBAIDAAAAAAAAAAABAhEDEiExBBNBUTJxIlJh/9oADAMBAAIRAxEAPwD3EAAAAAAAKvG7bpwyj7b7OC/8vtcpcTtWtP4t1dI5fPiZ5cuMaY8WVamtiIR96SXe0iHU21RXCTfcn9TKikZXnvxGs4J81opbehyhLxsvqc//AHV/pv8AqX2KOIoj3ck+1iu1txfgfmhyO2qfNSXl9zPnUT7uR7WLTQ2nSfxW700SadWMuDT7mmZBnEWnLfmK3hnxWzAy1DaNSPxN9jz/ADLGhtv8cfFfZ/cvOSVneLKLgBmhioT92S7ufkPGjPWgAAAAAAAAAAAAAAAAAAAAAAAAA3iK0YRcpOyWbA5icRGnFyk7JfPsS5sy20dqzq5L2Yfh5v8Amf04DG0sdKrK7yXwx6L79pETOPk5rl2nh18fFrvfJxHRCbFpmLZ1HUxIuMSyCosK+IjBJykknKMU3zlOSjFd7bSFRVtfQy+yo7SqXq70qcZP2qGKhGLi23vepnR9qEYppJzu203ZcXfGbVyrU1GkryaSXFtpJd7O7nPxMrPB15r+AqVouUJqtSqVqXro4rDxb9mcN6O9UhJw3utoPm7W+ztl4bAxsqrhBxUWqlW1O64yjCTtBu+e7ZdhOld1Y1Kij7zSzSzfN8BNCvCavCUZLLOMlJe0lJcHzTT7mitjQwVLeThmrqW/CrOTvCMpZzTb9mMW7fhV+CJ2zq9OV1TpuKXP1e5GSWWT+9uzIaTs9Y5cekhEokJO0JFpQxk487ro/uVVBE2LEys8IuMvlb0MfCWTe6+j+j5koyWJlmSMFtWcMn7Uej5dzN8eX7Y5cX00oEfC4yFRey8+a5okG0u2FmgAAAAAAAAAAAAAAAABlvSDH789xP2YPPtlz8uHfcvtqYr1dKUufCPe8lrsMVNnN6jPU6XRwYbuybnYnBcUcrqKR1M4dWta4hByCFpCI61rgLTLoLTFpjaFJkhjaGDVR0pW9qlVjUi72a4xnn2wlJW5kqvQjNbs4qS6NXXkCYu5O1dEwpJWskrJRVkskuCVuC7BVjjkJcyR2SEM65iHIBzDPMsLZFdhZe0WFV2iyBWYh5jO8dlPNiSwdp1GndOzRebP2wnlUyf4vuZ1C4lscrFcsJl5bZM6Z7ZuMnDJ5x6dO4vqVVSV0zfHOZObLC4lgAF1AAAAAAAAAAFB6UVvch3yfhkvzZnJcS29Ial67/2xiv8A6+pUJnn813nXfxTWEKQtIShy2vMzXJetefkLita7X8hOteY5r82TEOrX0+h1a1ricevmdWteBZBaFpDaQtEhRzeOSEpa13EoOphuiU7a1rvR2OJRIV6liZUX0H44hdRxV0W0rtCoxakTcZO0cueXiwc48cjHelPpBRrblPD1lJpuUlFS+G261K1mk78H0IuPybXbebTya4pgmGIcpKEpK0pQi5dL24rwt8zuHpuXIm9rol3Nl04XJtHDEnD4ZIcmyu0kRiOUa7g7rx6MjzqDEq5MthZtpsPXU1deK6DplsPjHCV1+6NHhcRGcbrxXQ6cM+py54dJ4AA0ZgAAAAAAx22v8ep3x/4IrUWm3Y2rz7d1/wDql9CqPN5Pyv7ehh+MLj9h3X5jKHVrXiVizqX0+grlrp+ghvXn+gvWv6iUFNnV9/qcWteJ1NdutMmIKa15itfmJQrWvmWHJa8zsdfIGC1rwJCKr464aXkNC6o0UtTHJBCb6nGhLfTj0XFkyorF/wBpnpLUp7uGg92M1vVXzlG9txd+d/BcDBynJSjVg7ODUlJZrJ3TfXNLI339pXo+5UvXzkoTXuRteU+qy4Lt5HmMJ1IZNNJ52kmsnwfj1WWZ1cWUscnLLK9T9EPSalUxHqr11PFSlUcZ1FOjTqpTap0rrejGa43atKMUro9KpKMVwt35Nd66ngXoNh/W4qMYqblxpZLdg/iqTd/hV2rcXbufu1GHsqLu7JK7d27ZZt8WRy6tX4d6OVcalwZHniWxupSscgYtirtnGhdgaJCUSsDinTldcOa6ojNAiZdFm+zXUqikk1wYsz+ysbuPdfuv5PqaA6scuqOPPHpoAALKgAADM+k9O1SMvxRt4xf6ooZLM1fpPRvTU/wSXlLJ/Oxl6qzPP55rOu3hu8YShyI2hcDONS9a+Qpa13NeRzWvn5Cta+a8iUBa+v1FLWvMTrXy+YrWtciQoVFiEzu8TEHEJRzeOSkSgVERalRLiSU2+CJGE2apSTnwIyidoWDwlSt7qtHq/p1LavGjg6TqTzfbxk+mZPxmMpYenvSaSXBdTyr0h27PE1Lt2ivdXRa8CNaUluV/w/ias8dXSl8UlFLlFEn0j9FqVTEbrj7MYxj4JeHYWf8AZ3s+8pVmvdVo5c2WNeSdab7beRHdfc3o16M+j9HDp+qpqLlxfGT7L9C5nxt0ItOUrWTtrqPQtbtfE1lV0TVjdEVkzqRpomjsGKsIgOEJJEDhySJQEX2yMXvLdfFcO1foUEWPYes4yUlxXz7C+GWqrnj1RqgEUqikk1wauLOpxgAABrFUVOEoP4k158zDVIPNPjF2a7VkzfGW9IcNuVN9cJ/8lx8+Pmc3qMNzbfgy1dKVCkxM8mcUzjjrPxetayFX1rWRGVQVv61rgWQfcta1ZnN8Y3xUU2A56wFIcpYZviTqGF7CUIdKjJkyjgepPpYew/GNiZVbTFHCpCcXiVTV+ZzG45QRmMdi5Td7knlA9IZyrvNuy4Lp4GZWAnvJWvd61+ZqbkzZGEUqqbXDMhZqdhYFUMNGPB2uzPUJ70pS6yZodp4l+raXQz+EpWQqmEs3akxlrSHYTGo0+0fhEmL07bLvI89a8B5vzES1rXMugiKF2OxidsQEnGKZxBBs7c5ICRd7DxHGD5Zr6rXUtjK4OtuTjLo8+7g/kalM6eLLcc3Ljq7dAANGQIm08IqtNx58Yvo1w+3iSwIs3NVMurt55Vi801mrprtXFEdyNN6S7Ps/WxWTymuj5S+n7lCsM2+887PC43TvwymU2j3HqVJsmUsITKWHsVWRKGDJtLCW5E2lRH40yVLUenRJEIi1TE1KiQV3st5FdtDHKKsnmMY7HtXsjO4jEtvMlMheIxO82NIRx4io5ErFOJfej2GtdspaSu0ka7Z1LdgiVajbU4EGlrmTtp8CBTRIfOvX7HFE6okpB1ROqIqwHAZ04Alo4dqSSTb4JX8EIhVu7Wa6Xsr+HH9whyaOIVJCUAI02zKu9Tj2ZPwyMyXewZ5Sj0afmv0NeK/yZc0/itQADpcwAAATUgpJpq6eTRnMRgfVy3eXwvs+5pRrE0FNWfg+jMuXj65/rTjz6az8KRIp0xz1bTs1mhcUcGtOq5OwQ6oiRFWukSz70qrVSKbH43ogx+PSuZvF7Qbeta5hrjjo5i693z1r9yNfWtfkMRm9a1yHIy1rXeTEla1rwFxY3va1ruFRz1rXMC12Rh7yTNYlZFJsOlwLyoSpkqtoSIdJknHoh0kTFkuJ0RAXYkKTO3GptJNtpJK7bdkkubfIx+3f7QqNKnOeHpyxChZSqJqFCLdvZ9c/fl/tgn4EyW+EWyeW0YIo9l7TryVCpXp+qjiIKLp8XRq+1KCb3U7VI9fdlGMeMidLadNwnODdTcbi4U7SnvqW7ubjatPeVrOw0biZUpKXHk013rNd/BOz6DNHDbrcnKUpPK7tkru1lFJXtbO1/Z7Cq/6ic4qeHoSrQ3d/eT3bxi7VYxi1veujeNqclHeu7PJisZ6VYSEvV+t9ZV/0qMZVanjCCbjy96xOqjcW8jhUYfaeJqNbuClCN/er1YU3bqoU1Ud+x2LciphJabCl7cl/tv5Nfcqyx2F/iP8Alf5ovx/lFeT8avwADrcYAAAAAAGcRQUl28mQXlk+KLQYxWH310fJ65GHLxdXeeWmGeu1VVfEW5lPjcZ2j+0ZOLcZ5Nay6ozG08U+BxXcrsxkIx+Nbeta8SAp61ruGJVL61rzXYvWtfmSlJT6PXTXk+IqL1rXahiMta1+Y6pa1rtJEiE+utaZMwlNydlrWmV8FrX6eJpdg4TmyNi72ZQ3USashyELIZrEst7qpx7ZDpyJeNZBpy1qxMaJ0JazKrb+3Z4dxhTwlfEVKie6qaSpprlUqt2p97RZU3r9kR9r7VpYajKtWnuwjxfNvlGK5yfQtFb4ZXauCbpvFbYrRVGGccLSclSTveKm+NepksvdunyuObA2JUxNSGLxdNU6dP8AyeDSSjQjyqVIcPWdFbLySd2Js2ti6scdjYbqjnhMM+FFPhVqJrOq+X4e+1lbX9Mv7x4bAU/4rEc7f4NHO16tRO3gulrp5GnfxFO3mn/SfalSKnTqU4QpqSk6tSpuU5UrZShVt7GJjU3ZKDTvuXXZS08fUxcKsMFhpVYV911a1Zzw2FdWKV6tGELVbycYt7slZxXNtux2d6G+sqLEbRqfxVde7Bq2HpX+GnS+Lvazsna+Zr8ku7yX2I6pPCem3yya9FK1b/O42pUj/o0F/D0bWtaW77c13tF9s3ZtDDx3KFKFOPSMUr/zPjJ9rJkmIZW5WrTGQq5xsTcS5ELF3LXYEfak+iS83+hUJmg2DTtBy/E/kv1uacU3ky5brFZgAHW5AAAAAAAAAAETaOAhWjuyXc1xi+w8629sipRlaaun7s1wl9n2HqA3iKEZxcZxUovimrpmXJxTP9tMOS4vFKkLdwlPWtfkbbb3olKF50bzjzhxnHu/Gvn3mQqUOmvsceWNxuq68cplOxClrWuvQcjJ61rsGt0XHWtdpVZOwavJLWtZm52TQSijI7IoXdzbYBZIIy8JrGK3Adkxis8gyxip2gV1KWtWLDHcCoqVtyEp2lLdjKVopuUt1N2ilxbtkiY1L2ztijhaMq1eW7CPi5PlGK5yesjKwtJraW1XGjCGeFw0uFPmpyjb+8rPilbLstaOSwm38RjsV66GFlXqQdsNSf8AlsNz9bVl8VTLnbPO+UUtzsj0LvUWJ2hUeKxHGMXf1FLshTtZ+KtztfM36ZhO7Hdy8Ie9jNr8N/CYB87JV8Sux2e7B+X83LX7I2TQwtNUqFNU4LkuMn1lJu8n2smy1qwm+v2sZ3LfZpMdd3XLWrI6pDV9asdT1r7FVjlxMmJ3hDkNjrkFxLOxAcpptpLi8l3s1+GpbkYxXJW+7KXYODu/WNZLKPa+b8PuX518OOpty82W7oAAGzEAAAAAAAAAAAAABT7Z9HaNe7tuT/HFcf5l8X59pcARcZZqpls7x5dtbYNWh78bw/HHOPj+HxK3+H6a+57E1co9o+i9GpnD+7l/tXsvvjy8LHNn6f8Aq6MOf+zK7Ig0azBvIraezKlL3o3X4o5r7otMPa2RzXGy92tss7HqjIlaRImRK0gjGK3HTKynLPTJ2OkV0GGqfCoLU1pEaAtDaNH9/VhLqa/cbOXJ2grfObwkCEnEwEocjDqBxInbNwDqO3CK95/Rdv5D2z9lSnZy9mHzfcuXeaKjSUUoxVkuCOji4re9YcnLrtHadNRSSVkskuiFAB1uUAAAAAAAAAAAAAAAAAAAAAAAAxWwkJcVZ9Vk/kPgRZL5TLZ4Vr2dJe7K/wDNx8yDjKM4p3g+9K/5GgAxy9PjfDSc2UYbEWZCVLM9BrYeEvejGXekyFU2FQfwNd0mvlexlfT34rWc8+YyUIMWos0UvR2HKc1/S/oJ/wCnv+6/6V9yvsZ/S3vYs/uvoHq2aB+j/wD3X/SvuKh6PR51J+Fl9GPZz+j3sftnlS7RSguHF9F9jUU9i0V8Ll3yf5LIm0aEY+7FR7kl+ReenvzVbzz4jNYXZNWXw7q6yyflx8y5weyKcM37Uur4LuXIsANseLHFjly5ZAAA1ZgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP/2Q==");
}

.a {
background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6c/Bass_drum.jpg");
}

.s {
background-image: url("https://cf2.s3.souqcdn.com/item/2018/08/13/37/09/57/81/item_XL_37095781_144805704.jpg");
}

.d {
background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Tom-tom_12x8.jpg/220px-Tom-tom_12x8.jpg");
}

.j {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-LFnZJhTXjzZ8DRCVW5UrvtRqQiqUIrRiMw&usqp=CAU");
}

.k {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSC72qwBstaJ86J5lS9nOdiy27PGTiFkHFqFA&usqp=CAU");
}

.l {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQl8XRATamQaOuMacfk-fOI-MKJY5-q2VgzZw&usqp=CAU");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
